<% provide(:title, 'Log in') %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.text_field :checkings, value: '', class: 'hide' %>
        </div>
        <div class="text-center">
          <%= f.submit "Log in", class: "btn btn-primary" %>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
    <% end %>
  </div>
</div>

<script>
  /*
  $(function(){
      // we will send all checkings user has done before login to sync with data at server
      var checkings = {}
      for(item in localStorage) {
          if(item.substring(0, 'checklists-'.length) === 'checklists-') { // if item.startsWith('checklists-')
              checkings[item.replace('checklists-', '')] = localStorage[item];
          }
      }

      // jQuery is unable to change value of hidden field, so we use old good plain JS
      $('#session_checkings').attr('value', JSON.stringify(checkings));
  })
  */
</script>