<% provide(:title, 'Your checklists') %>
<h1>Your checklists</h1>

<% if @checklists.any? %>
    <ul>
        <% @checklists.each do |checklist| %>
          <% if checklist.Link? %>
              <li><%= link_to checklist.title, checklist_path(:id => checklist.id, :key => checklist.secret_key) %></li>
          <% else %>
              <li><%= link_to checklist.title, checklist %></li>
          <% end %>
        <% end %>
    </ul>
<% else %>
    <p>
      It seems that you do not have any checklists yet. What about
      <%= link_to 'creating one', new_checklist_path %>?
    </p>
<% end %>