<div class="category">
  <div class="category-title-wrapper">
    <%= f.text_field :title, placeholder: 'Category title...', class: 'category-title' %>
    <div class="icons">
      <%= fa_icon "trash-o", title: 'Remove category', class: "fa-fw category-delete" %>
    </div>
  </div>

  <%= f.fields_for :items do |builder| %>
      <%= render 'items_fields', :f => builder %>
  <% end %>

  <%= f.hidden_field :_destroy, class: 'category-destroy' %>

</div>