<%= form_for(@checklist, :html => {:autocomplete => "off"}) do |c| %>
    <% if @checklist.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h3>
            <%= pluralize(@checklist.errors.count, "error") %> prohibited
            this checklist from being saved:
          </h3>

          <ul>
            <% @checklist.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= c.text_field :title, placeholder: 'Checklist title...', class: 'checklist-title' %>

    <div class="checklist">
      <%= c.fields_for :categories do |builder| %>
          <%= render "categories_fields", :f => builder %>
      <% end %>
    </div>

    <div class="checklist-permissions">
      <h4>Choose permissions for this checklist</h4>
      <% Checklist.sharings.keys.each do |sharing| %>
          <%# Private checklist can only be created by logged in users. The problem is, that he would never
                be able to access his own checklist, since he cannot access it directly after creating it,
                 and thus he cannot claim ownership of it. %>
          <% if sharing != 'Private' or logged_in? %>
              <div class="sharing-<%= sharing %>">
                  <%= c.radio_button :sharing, sharing %>
                  <%= c.label "sharing_#{sharing.downcase}", sharing, title: permission_description(sharing) %>

                    <% if sharing == 'Private' %>
                        <div>
                          <%= c.fields_for :emails do |builder| %>
                              <%= builder.text_area :email, class: 'form-control', placeholder: 'Insert every email, whose account will have access to this checklist. One email per line.' %>
                          <% end %>
                        </div>
                    <% end %>
              </div>
          <% end %>
      <% end %>
    </div>

    <div class="text-center">
        <%= c.submit "Submit", class: 'btn btn-primary' %>
        <% if @checklist.persisted? %>
            or
            <%= link_to 'cancel', @checklist %>
        <% end %>
    </div>
<% end %>

<script>
    $(function(){
        var edit = <%= @checklist.persisted? ? 'true' : 'false' %>;

        function category_template(id) {
            var item = item_template(0, id);

            return `<div class="category">
            <div class="category-title-wrapper">
            <input type="text" id="checklist_categories_attributes_${id}_title" name="checklist[categories_attributes][${id}][title]" class="category-title" placeholder="Category title...">
            <div class="icons">
            <i class="fa fa-trash-o fa-fw category-delete" title="Remove category"></i>
            </div>
            </div>

                ${item}
            </div>`
        }

        function item_template(id, cat_id) {
            return `<div class="item">
            <input type="checkbox" disabled="">
            <input type="text" id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_title" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][title]" class="item-title" placeholder="Item title...">
            <div class="icons">
            <i class="fa fa-magic fa-fw item-automatic" title="Automatic?"></i><i class="fa fa-pencil fa-fw item-details" title="Details"></i><i class="fa fa-trash-o fa-fw item-delete" title="Remove item"></i>
            </div>

            <div class="modal details-modal">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Item details</h4>
            </div>
            <div class="modal-body">
            <textarea id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_description" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][description]" class="form-control" placeholder="Insert item description in markdown"></textarea>
            </div>
            <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-primary" type="button">Save changes</button>
            </div>
            </div>
            </div>
            </div>

            <div class="modal automatic-modal">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Choose a type of automatic item</h4>
            </div>
            <div class="modal-body">
            <ul class="automatic-items-list">
            <li>
            <input type="radio" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic]" id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_none" checked="checked" value="no"> <label for="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_none">none</label>
            </li>
            <li>
            <input type="radio" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic]" id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_location_is_https" value="location_is_https"> <label for="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_location_is_https" title="Item will be checked automatically after all URLs specified below will redirect to https.">Location is HTTPS-only</label>

            <div>
            <textarea name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic_location_is_http_attributes][urls]" class="form-control" placeholder="Please, specify all URLs that must force-redirect to HTTPS to check this item. One URL per line."></textarea>
            </div>
            </li>
            <li>
            <input type="radio" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic]" id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_travis_is_green" value="travis_is_green"> <label for="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_travis_is_green" title="Item will be checked automatically after repository specified below passes every test on every enviroment at travis-ci.org.">Travis is green</label>

            <div>
            <input name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic_travis_is_green_attributes][repo]" class="form-control" placeholder="Please, specify repository address. Eg. \"rails/rails\".">
            </div>
            </li>
            <li>
            <input type="radio" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic]" id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_coverage_over" value="coverage_over"> <label for="checklist_categories_attributes_${cat_id}_items_attributes_${id}_automatic_coverage_over" title="Item will be checked automatically after github repository specified below exceeds test coverage percentage specified below at coveralls.io.">Code coverage over</label>

            <div>
            <input name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic_coverage_over_attributes][repo]" class="form-control" placeholder="Please, specify repository address. Eg. rails/rails">
            <input name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][automatic_coverage_over_attributes][percentage]" type="number" min="0" max="100" class="form-control" placeholder="Coverage percentage">
            </div>
            </li>
            </ul>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="hidden">
            Item link: <input type="url" id="checklist_categories_attributes_${id}_items_attributes_${id}_link" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][link]">
            <input type="checkbox" id="checklist_categories_attributes_${cat_id}_items_attributes_${id}_optional" name="checklist[categories_attributes][${cat_id}][items_attributes][${id}][optional]" value="1"> Optional?
            </div>
            </div>`
        }

        $(document).on('keyup', '.category:last .category-title', function(){
            if($(this).val() !== '') {
                // find out category id
                var id = parseInt($(this).attr('name').replace(/[^0-9]*([0-9]+)[^0-9]*/, '$1'));
                $('.category:last').after(category_template(id + 1));
            }
        });

        $(document).on('keyup', '.item:last-of-type .item-title', function(){
            if($(this).val() !== '') {
                // find out category id and item id
                var cat_id = parseInt($(this).attr('name').replace(/[^0-9]*([0-9]+)[^0-9]*[0-9]+/, '$1'));
                var id = parseInt($(this).attr('name').replace(/[^0-9]*[0-9]+[^0-9]*([0-9]+)/, '$1'));
                $(this).parent().after(item_template(id + 1, cat_id));
            }
        });

        // generate empty category and item per category to allow adding new categories and items when editing
        $('input').trigger('keyup');

        $(document).on('click', '.category-delete', function(){
            if($('.category').length > 1) {
                if(edit) {
                    $(this).parents('.category')
                        .hide()
                        .children('.category-destroy').val('true')
                }
                else {
                    $(this).parent().parent().parent().remove();
                }
            }
        });

        $(document).on('click', '.item-delete', function(){
            if($(this).parent().parent().siblings('.item').length > 0) {
                if(edit) {
                    $(this).parents('.item')
                        .hide()
                        .find('.item-destroy').val('true')
                }
                else {
                    $(this).parent().parent().remove();
                }
            }
        });

        $(document).on('click', '.item-details', function(){
            $(this).parent().siblings('.details-modal').modal()
        });

        $(document).on('hide.bs.modal', '.details-modal', function(){
            var icon = $(this).siblings('.icons').children('.item-details');

            if($(this).find('textarea').val() != '') {
                icon.addClass('filled');
            }
            else {
                icon.removeClass('filled')
            }
        });

        $(document).on('hide.bs.modal', '.automatic-modal', function(){
            var icon = $(this).siblings('.icons').children('.item-automatic');

            if($(this).find('.automatic-items-list li:first input').is(':checked')) {
                icon.removeClass('filled')
            }
            else {
                icon.addClass('filled');
            }
        });

        $(document).on('keydown', '.modal.in textarea', function(e){
            if(e.ctrlKey && e.keyCode == 13) {
                $('.modal.in').modal('hide');
            }
        });


        $(document).on('click', '.item-automatic', function(){
            $(this).parent().siblings('.automatic-modal').modal()
        });

    })
</script>