<div class="item">
    <input type="checkbox" disabled>
    <%= f.text_field :title, placeholder: 'Item title...', class: 'item-title' %>
    <div class="icons">
      <%= fa_icon "magic", title: 'Automatic?', class: "fa-fw item-automatic #{'filled' unless f.object.no? if f.object.persisted?}" %><%= fa_icon "pencil", title: 'Details', class: "fa-fw item-details #{'filled' unless f.object.description.empty? if f.object.persisted?}" %><%= fa_icon "trash-o", title: 'Remove item', class: "fa-fw item-delete" %>
    </div>

    <div class="modal details-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Item details</h4>
          </div>
          <div class="modal-body">
            <%= f.text_area :description, placeholder: 'Insert item description in markdown', class: 'form-control' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal automatic-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Choose a type of automatic item</h4>
        </div>
        <div class="modal-body">
          <ul class="automatic-items-list">
            <li>
              <%= f.radio_button :automatic, :no %>
              <%= f.label :automatic_no, 'None' %>
            </li>
            <li>
              <%= f.radio_button :automatic, :location_is_https %>
              <%= f.label :automatic_location_is_https, 'Location is HTTPS-only', title: 'Item will be checked automatically after all URLs specified below will redirect to https.' %>

              <div>
                <%= f.fields_for :automatic_location_is_http do |c| %>
                    <%= c.text_area :urls, class: 'form-control', placeholder: 'Please, specify all URLs that must force-redirect to HTTPS to check this item. One URL per line.' %>
                <% end %>
              </div>
            </li>
            <li>
              <%= f.radio_button :automatic, :travis_is_green %>
              <%= f.label :automatic_travis_is_green, 'Travis is green', title: 'Item will be checked automatically after repository specified below passes every test on every enviroment at travis-ci.org.' %>

              <div>
                <%= f.fields_for :automatic_travis_is_green do |c| %>
                    <%= c.text_field :repo, class: 'form-control', placeholder: 'Please, specify repository address. Eg. "rails/rails"' %>
                <% end %>
              </div>
            </li>
            <li>
              <%= f.radio_button :automatic, :coverage_over %>
              <%= f.label :automatic_coverage_over, 'Code coverage over', title: 'Item will be checked automatically after github repository specified below exceeds test coverage percentage specified below at coveralls.io.' %>

              <div>
                <%= f.fields_for :automatic_coverage_over do |c| %>
                    <%= c.text_field :repo, class: 'form-control', placeholder: 'Please, specify repository address. Eg. rails/rails' %>
                    <%= c.number_field :percentage, class: 'form-control', placeholder: 'Coverage percentage', min: 0, max: 100 %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="hidden">
      Item link: <%= f.url_field :link %>
      <%= f.check_box :optional, include_hidden: false %> Optional?
      <%= f.hidden_field :_destroy, class: 'item-destroy' %>
    </div>
</div>