<% provide(:title, 'Explore new checklists') %>
<h1>Explore new checklists!</h1>
<p>Search between <strong><%= @checklists.size %></strong> free checklists, clone them if you want to enhace it to your
  personal needs and make your life easier!</p>

<div class="explore-checklists">
    <% @checklists.each do |checklist| %>
      <div class="explore-checklist">
        <h2><%= link_to checklist.title, checklist %></h2>
        <p><%= pluralize(checklist.items.size, 'item') %> in <%= pluralize(checklist.categories.size, 'category') %></p>
      </div>
    <% end %>
</div>