<% provide(:title, 'Create new checklist') %>
<%= render 'form' %>

<script>
    $(window).on('load', function(){
        // Instance the tour
        tour = new Tour({
            backdrop: true,
            storage: false,
            debug: true
        });
        tour.addSteps([
            {
                element: 'nav li:first-child',
                title: "New here? Let me walk you around!",
                placement: 'bottom'
            },
            {
                element: "nav li:first-child",
                title: "New checklist",
                content: "This page allows you to create new checklist really fast. Click next to see how it works.",
                placement: 'bottom'
            },
            {
                element: "#checklist_title",
                title: "Checklist name",
                content: "This is place for you to name your new checklist. Go ahead, be creative!",
                placement: 'bottom'
            },
            {
                element: "#checklist_categories_attributes_0_title",
                title: "Categories",
                content: "Each checklist consists of categories, of each consists of many items. It is good habit to organize corresponding items in categories. Each time you name a new category, another empty one will pop out to allow you to group your items in as many categories, as needed. Do not worry about the last, unused one. It will be deleted upon checklist creation automatically."
            },
            {
                element: "#checklist_categories_attributes_0_items_attributes_0_title",
                title: "Items",
                content: "Item is one checkbox in your checklist. You can write anything you like as a name, but be brief. You will see, how to add a description to it, later on."
            },
            {
                element: ".item:first .item-details",
                title: "Item description",
                content: "Upon hovering over item, three icons will show up. Middle of them is used to add a description to that item. Description is a text (in markup language) that describes item in as much specificity, as needed. It is hidden in checklist page by default, but you can display it to see additional information regarding item.",
                onShow: function(){
                    $('#checklist_categories_attributes_0_items_attributes_0_title').focus();
                }
            },
            {
                element: ".item:first .item-automatic",
                title: "Automatic item",
                content: "The strongest feature of item is making it automatic. Automatic item checks itself whenever condition is met. As for now, you can create automatic items to watch https redirects, travis green status and coverage percentage status.",
                onShow: function(){
                    $('#checklist_categories_attributes_0_items_attributes_0_title').focus();
                }
            },
            {
                element: ".checklist-permissions h4",
                title: "Checklist permissions",
                content: "Each checklist has it's permissions level. Public checklist will be available to everyone and listed in Explore page. Private checklist (you can create one after you log in) is available only to logged-in user with email equal to one of those you specify here. Link permission generates special link for your checklist, by only which you can access the checklist. You can share it with anyone you want.",
                placement: 'bottom'
            },
            {
                element: "input[type=submit]",
                title: "Create checklist!",
                content: "And finally, submit the checklist and watch it accomplished!",
                placement: 'bottom'
            },
            {
                element: "nav li:nth-child(2)",
                title: "Explore",
                content: "Oh, and looking for inspiration? Browse already created public checklists. Some of them may be handy!",
                placement: 'bottom'
            }
        ]);

        // Start the tour
        tour.start();
    });
</script>