<% provide(:title, @checklist.title) %>
<h1 class="checklist-title"><%= @checklist.title %></h1>

<div class="checklist">
    <% @checklist.categories.each do |category| %>
      <div class="category">
        <h2 class="category-title"><%= category.title %></h2>
        <ul class="category-list">
            <% category.items.each do |item| %>
              <li>
                <%= check_box_tag(item.id, 1, (item.checkings.find_by(user_id: nil).present? or item.checkings.find_by(user_id: current_user).present?), disabled: !item.no?, title: !item.no? ? 'This item is automatic - it will check automatically after requirements given are met.' : '') %>
                <%= label_tag(item.id, item.title) %>
                <% if item.description.length > 0 %>
                    <%= fa_icon "arrow-down", class: "fa-fw show-description" %>
                    <div class="description">
                      <%== @markdown.render(item.description) %>
                    </div>
                <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    <% end %>
</div>

<p>
  <%= link_to fa_icon("external-link", title: 'Clone checklist', class: "fa-fw"), clone_checklist_path if logged_in? %>
  <%= link_to fa_icon("pencil", title: 'Edit checklist', class: "fa-fw"), edit_checklist_path if logged_in? and @checklist.user_id == current_user.id %>
  <%= link_to fa_icon("trash-o", title: 'Delete checklist', class: "fa-fw"), @checklist, :method => :delete, :confirm => "You sure?",
              :title => "Delete" if logged_in? and @checklist.user_id == current_user.id %>
  <%= link_to 'RESET', '#', id: 'reset-checklist', style: ('float: right' if logged_in?) %>
</p>

<% if @checklist.Link? %>
    <p>This checklist can only be accessed by special link provided here:</p>
    <code><%= "#{checklist_url}?key=#{@checklist.secret_key}" %></code>
    <p><%= link_to 'Generate new link?', new_secret_key_checklist_path %></p>
<% end %>

<script>
  $(function(){
      set_checkboxes();
      // ensure all currently opened windows get updated
      $(window).on('storage', set_checkboxes);

      $(document).on('click', '#reset-checklist', function(e){
          $('input[type=checkbox]').each(function(){
              $(this).prop('checked', false);
              localStorage.removeItem('checklists-' + this.id);
          });

          e.preventDefault();
      });

      $(document).on('change', 'input', function(){
          if(localStorage['checklists-' + this.id]) {
              localStorage.removeItem('checklists-' + this.id);
          }
          else {
              localStorage.setItem('checklists-' + this.id, Date.now());
          }
      });

      function set_checkboxes(){
          // ensure no checkbox is checked (except for automatic ones)
          $('input[type=checkbox]:enabled').prop('checked', false);
          // check only checkboxes stored in local storage
          for(item in localStorage) {
              $('#' + item.replace('checklists-', '')).prop('checked', true)
          }
      }

      /*
      $(document).on('change', 'input', function(e){
          var self = this;

          if(self.checked) { // was not checked, so we need to create a checking
              self.checked = false; // uncheck it until we are confirmed that checking was created

              $.ajax({
                  url: '<%= checkings_path(:format => :json) %>',
                  method: 'post',
                  data: {
                      'item_id': self.id
                  }
              })
              .done(function(data){
                if(data.result) {
                    self.checked = true;
                }
              })
          }
          else { // was checked, needs to delete record from database
              self.checked = true; // check it until we are confirmed that checking was deleted

              $.ajax({
                  url: '<%= checkings_path(:format => :json) %>',
                  method: 'post',
                  data: {
                      '_method': 'delete',
                      item_id: self.id
                  }
              })
              .done(function(data){
                  if(data.result) {
                      self.checked = false;
                  }
              })
          }
      });
      */

      $(document).on('click', '.show-description', function(){
         $(this).siblings('.description').toggle();
      });

  })
</script>