/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.tour-backdrop {
  position: absolute;
  z-index: 1009;
  background: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
}
.tour-step-backdrop {
  position: relative;
  z-index: 1011;
}
.tour-step-background {
  position: absolute;
  z-index: 1010;
  background: #fff;
  border-radius: 6px;
}

@mixin box_sizing {
    box-sizing:         border-box;
}

/* universal */

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

h1 {
  text-align: center;
}