.checklist-title {
  border: none;

  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.checklist {
  columns: 3;

  .category {
    display: block;
    overflow: hidden;
    padding: 0.75em;
    break-inside: avoid-column;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }

  .category-title {
    border: none;

    font-size: 1.5em;
    line-height: 1.2;
    margin: 0.25em 0;
    width: calc(100% - 22px);
  }

  .category-list {
    list-style: none;
    padding-left: 0;
  }

  label,
  .item-title {
    border: none;
    font-weight: normal;

    font-size: 0.9em;
    line-height: 1.2;
    width: calc(100% - 75px);
  }

  .icons {
    display: inline-block;

    i {
      opacity: 0;
      cursor: pointer;
    }

    i:hover,
    i:focus,
    i.filled {
      opacity: 1 !important;
    }
  }

  .category-title-wrapper,
  .item {
    &:hover .icons i,
    input:focus ~ .icons i{
      opacity: 0.5;
    }
  }

  .show-description {
    cursor: pointer;
  }

  .description {
    display: none;
  }
}

.automatic-modal {
  .modal-body {
    div {
      display: none;
    }

    .automatic-items-list {
      list-style: none;
    }
  }
}

.automatic-items-list,
.checklist-permissions {
  input:checked ~ div {
    display: block;
  }
}

.checklist-permissions {
  h4 {
    display: inline-block;
  }

  & > div {
    div {
      display: none;
    }
  }
}


.explore-checklists {
  columns: 3;

  .explore-checklist {
    display: block;
    overflow: hidden;
  }
}