<!--<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>-->

<script type="text/javascript" charset="utf-8">
    var regexp = new RegExp("(?:^delete_local_checkings|;\s*delete_local_checkings)=(.*?)(?:;|$)", "g");
    var result = regexp.exec(document.cookie);
    result = (result === null) ? null : result[1];
    if(result) {
        for(item in localStorage) {
            localStorage.removeItem(item);
        }

        document.cookie = "delete_local_checkings=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/"
    }
</script>